.place-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin-inline:auto;
  width: 87.5%;
  max-width: calc(17.5rem + 4rem);
}

.center-x{
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 734px) {
  .container{
    width: 100%;
    max-width: 43.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .container{
    max-width: 61.25rem;
  }
}